@import '_fonts.scss';
* {
  font-family: 'montserratlight', sans-serif;
}
body {
  overflow-x: hidden;
}
section {
  position: relative;
  .inner {
    padding: 0 15px;
    margin: 0 auto;

  }
  &.taper {
    &::after {
      content: " ";
      display: block;
      height: 7vw;
    }
    &::before {
      content: " ";
      position: absolute;
      bottom: -7vw;
      right: 0;
      left: 0;
      width: 100%;
      height: 7vw;
    }
  }
  &.taper--tall {
    &::before {
      bottom: -15vw;
      height: 15vw;
    }
  }
  &.taper--left {
    &::before {
      transform: skewY(-4deg);
      transform-origin: top left;
    }
  }
  &.taper--right {
    &::before {
      transform: skewY(4deg);
      transform-origin: top right;
    }
  }
  &.taper--black {
    &::before {
      background: black;
    }
  }
  &.taper--white {
    &::before {
      background: white;
    }
  }
  &.taper--yellow {
    &::before {
      background: rgb(255,204,51);
    }
  }
  &.taper--transparent {
    &::before {
      background: transparent;
      //background: blueviolet;
    }
  }
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  &.inner--504 {
    max-width: 504px;
  }
  &.inner--708 {
    max-width: 708px;
  }
  &.inner--960 {
    max-width: 960px;
  }
  p {
    max-width: 100%;
  }
}

.separator--transparent {
  background: url('../images/separator--transparent.png') no-repeat center center;
  height: 29px;
  position: relative;
  width: 100%;
  background-size: contain;
}
.separator--yellow {
  background: url('../images/separator--yellow.png') no-repeat center center;
  height: 29px;
  position: relative;
  width: 100%;
  background-size: contain;
}
.statement {
  font-family: 'montserratlight', sans-serif;
  font-size: 15.18px;
  text-align: center;
  strong {
    font-family: 'montserratbold', sans-serif;
  }
}

// menu
#menu {
  background: black;
  color: white;
  height: 45px;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000;
  .inner {
    flex-direction: row;
  }
  .menu__logo {
    background: url('../images/menu__logo.png');
    height: 37px;
    text-indent: -10000px;
    width: 83px;
    @media (max-width: 405px) {
      display: none;
    }
  }
  .menu__menu {
    margin-bottom: 0;
    padding-left: 0;
    //margin-top: 3px;
    margin-top: 0px;
    transform: translateX(-18px);
    display: flex;
    flex-direction: row;
    @media (max-width: 580px) {
      transform: translateX(0px);
    }
    @media (max-width: 405px) {
      width: 100%;
      justify-content: space-between;
    }
    li {
      //background: left bottom no-repeat;
      //background: left 2px no-repeat;
      background: left -1px no-repeat;
      //display: inline-block;
      margin: 0 25px;
      height: 13px;
      padding-left: 18px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media (max-width: 580px) {
        margin: 0 10px;
      }
      a {
        color: white;
        font-size: 13px;
        line-height: 11px;
        transition: color 0.5s;
        display: table-cell;
        vertical-align: bottom;



        &:hover {
          color: rgb(255,204,51);
          text-decoration: none;
        }
      }
      &.menu__menu--aboutus {
        background-image: url('../images/menu__aboutus.png');
      }
      &.menu__menu--courses {
        background-image: url('../images/menu__courses.png');
      }
      &.menu__menu--contact {
        background-image: url('../images/menu__contact.png');
      }
    }
  }
  .menu__social {
    @media (max-width: 470px) {
      display: none;
    }
    &--facebook {
      background: url('../images/menu__facebook.png') no-repeat;
      display: inline-block;
      height: 23px;
      text-indent: -10000px;
      width: 23px;
    }
    &--instagram {
      background: url('../images/menu__instagram.png') no-repeat;
      display: inline-block;
      height: 23px;
      text-indent: -10000px;
      width: 23px;
    }
  }
}

// header
#header {
  //background: rgb(255,204,51);
  background: rgb(255,204,51);
  text-align: center;
  z-index: 1;
  overflow: hidden;
  &::after {
    background: white;
    height: 7vw;
    display: block;
    content: " ";
  }
  &::before {
    content: " ";
    background: rgb(255,204,51);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 7vw;
    transform: skewY(4deg);
    transform-origin: top right;
  }
  img {
    position: relative;
    max-width: 100%;
  }
  .inner {
    padding-top: 120px;
  }
  .separator--yellow {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .comprende {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 72px;
    position: relative;
    .comprende__quotes {
      height: 25px;
      width: 33px;
      flex-shrink: 0;
    }
    .comprende__quotes--left {
      background: url('../images/comprende__quotes--left.png');
      position: relative;
      top: 80px;
    }
    .comprende__quotes--right {
      background: url('../images/comprende__quotes--right.png');
    }
    .comprende__text {
      padding: 25px;
      text-align: center;
      p {
        margin-bottom: 0;
      }
      .comprende__text--question {
        font-family: 'montserratlight', sans-serif;
        font-size: 25.5px;
        text-align: center;
      }
      .comprende__text--answer {
        font-family: 'montserratbold', sans-serif;
        font-size: 25.5px;
        text-align: center;
      }
      .comprende__text--translation {
        color: white;
        font-size: 15.91px;
        text-align: center;
      }
    }

  }
}
#claim {
  background: white;
  text-align: center;
  .important {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
#aboutus {
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
  padding-top: 50px;
  p {
    position: relative;
  }
  strong {
    span {
      text-transform: uppercase;
    }
  }
  .inner {
    @media (max-width: 440px) {
      padding-bottom: 35px;
    }
  }
  h2 {
    margin-bottom: 15px;
  }
  .aboutus__languages {
    margin: 0;
    padding: 0;
    .aboutus__language {
      display: inline-block;
      margin: 0 1px;
      text-indent: -10000px;
      &.aboutus__language--es {
        background: url('../images/flag--es.png') no-repeat;
        background-size: contain;
        height: 28px;
        width: 29px;
      }
      &.aboutus__language--en {
        background: url('../images/flag--en.png');
        background-size: contain;
        height: 28px;
        width: 28px;
      }
      &.aboutus__language--it {
        background: url('../images/flag--it.png');
        background-size: contain;
        height: 28px;
        width: 29px;
      }
      &.aboutus__language--fr {
        background: url('../images/flag--fr.png');
        background-size: contain;
        height: 28px;
        width: 29px;
      }
      &.aboutus__language--de {
        background: url('../images/flag--de.png');
        background-size: contain;
        height: 28px;
        width: 29px;
      }
      &.aboutus__language--ru {
        background: url('../images/flag--ru.png');
        background-size: contain;
        height: 28px;
        width: 29px;
      }
    }
  }
  .aboutus__person {
    h5 {
      background: url('../images/signature.png');
      background-size: contain;
      height: 36px;
      margin-top: 15px;
      margin-bottom: 0px;
      text-indent: -10000px;
      width: 100px;
    }
    span {
      font-family: 'montserratlight', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}
br.smallbr {
  display: none;
}

#courses {
  background: white;
  color: black;
  text-align: center;
  xoverflow: hidden;
  .inner {
    flex-direction: column;
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 4rem;
  }
  .nobottommargin {
    margin-bottom: 0;
  }
  .courses__bigger {
    strong {
      font-family: 'montserratbold', sans-serif;
      font-size: 19px;
      @media (max-width: 684px) {
        font-size: 17px;
      }
    }
    @media (max-width: 440px) {
      br.smallbr {
        display: block;
      }
    }
  }
  .courses__prices {
    text-align: center;
    strong {
      font-family: 'montserratbold', sans-serif;
    }
  }
  .courses__capacity {

  }
  .important {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .statement {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .courses__row {
    //display: block;
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    //@media (max-width: 684px) and (max-width: 1300px) {
    @media (max-width: 684px) {
      display: block;
      width: auto;;
    }
  }
  .courses__col {
    //display: inline-block;
    display: flex;
    //flex: 1 0 0;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    width: 309px;
    position: relative;
    margin: 0 auto;
  }
  .blank {
    display: flex;
    //flex: 1 0 0;
    flex: 1 0 0px;
  }
  h3 {
    font-family: 'montserratlight', sans-serif;
    font-size: 16.5px;
    height: 36px;
    margin-top: 7px;
    line-height: 36px;
    background: url('../images/flag--es.png') no-repeat 30px center;
    .info {
      background: url("../images/info.png");
      cursor: pointer;
      height: 18px;
      position: absolute;
      top: 8px;
      right: 0;
      width: 18px;;
    }
    &.courses__language--es {
      background-image: url('../images/flag--es.png');
      position: relative;
    }
    &.courses__language--it {
      background-image: url('../images/flag--it.png');
    }
    &.courses__language--en {
      background-image: url('../images/flag--en.png');
      position: relative;
    }
    &.courses__language--fr {
      background-image: url('../images/flag--fr.png');
    }
    &.courses__language--de {
      background-image: url('../images/flag--de.png');
    }
    &.courses__language--ru {
      background-image: url('../images/flag--ru.png');
    }
  }
  .courses__language {
    margin-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      background: url("../images/shadow--left.png") right no-repeat;
      //background: deeppink;
      background-size: 100% 100%;
      width: 23px;
      @media (max-width: 350px) {
        display: none;
      }
    }
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
      background: url("../images/shadow--right.png") right no-repeat;
      //background-size: contain;;
      background-size: 100% 100%;
      width: 23px;
      @media (max-width: 350px) {
        display: none;
      }
    }
  }
  .courses__languageheader {
    margin-bottom: 30px;
    text-align: left;
    text-indent: 46%;
  }
  .courses__box {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    line-height: 20px;
    .courses__course {
      flex: 145 0 0px;
      font-family: 'montserratbold', sans-serif;
      font-size: 13.88px;
      text-align: left;
    }
    &.courses__note p {
      text-align: left;
      text-align-last: left;
      width: 280px;
    }
    .courses__terms {
      //background: deeppink;
      display: block;
      flex: 165 0 0px;
      flex-direction: row;
      .courses__term {
        display: flex;
        .courses__term--day {
          flex: 31 0 0px;
          font-family: 'montserratbold', sans-serif;
          font-size: 13.88px;
          text-align: left;
        }
        .courses__term--hours {
          display: flex;
          flex: 134 0 0px;
          flex-direction: column;
          font-family: 'montserratregular', sans-serif;
          font-size: 13.88px;
          & > div {
            display: flex;
            div:nth-child(1) {
              //background: lightcoral;
              flex: 76 0 0px;
              text-align: right;
            }
            div:nth-child(2) {
              //background: lightgreen;
              flex: 58 0 0px;
              padding-left: 5px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
#contactform {
  .inner {
    display: block;
    flex-direction: column;
    margin-top: 30px;
  }
  background: rgb(255,204,51);
  color: black;
  text-align: center;
  xoverflow: hidden;
  label {
    display: block;
    font-family: 'montserratlight', sans-serif;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 6px;
    text-align: left;
    text-transform: uppercase;
  }
  label.inline {
    display: inline-block;
  }
  label[for="checkbox"] {
    text-transform: none;
  }
  input[type=text], input[type=email], textarea {
    border: 0;
    font-size: 15px;
    line-height: 44px;
    height: 44px;
    margin-bottom: 15px;
    padding: 0 10px;
    width: 100%;
  }
  textarea {
    height: 13rem;
    line-height: 1.4rem;
    padding-top: 9px;
  }
  input[type=submit], button.g-recaptcha {
    background: rgb(255,204,51);
    cursor: pointer;
    text-transform: uppercase;
    border: 0;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.18);
    margin-top: 20px;
    font-family: 'montserratsemibold', sans-serif;

  }
  .contactform__bk {
    height: 0 !important;
    overflow: hidden;
  }
}
#classrooms {
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
  &::after {
    //background: cadetblue;
    //height: 0;
  }
  .inner {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#map {
  //background: darkorange;
  color: black;
  text-align: center;
  //overflow: hidden;
  position: relative;
  //top: -10px;

  margin-top: -3.51vw;
  .map__inner {
    transform: skewY(4deg);
    &::before {
      content: " ";
      background: rgb(255,204,51);
      position: absolute;
      bottom: -28vw;
      right: 0;
      left: 0;
      width: 100%;
      height: 21vw;
      transform: skewY(4deg);
      transform-origin: top right;
    }
  }
  padding-top: 3.5vw;
  padding-bottom: 21vw;
  transform: skewY(-4deg);

}
#addresses {
  background: rgb(255,204,51);
  text-align: center;
  //overflow: hidden;
  position: relative;
  //background: deepskyblue;
  margin-top: -14vw;
  h3 {
    font-family: 'montserratbold', sans-serif;
    font-size: 17.84px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  h4 {
    font-family: 'montserratsemibold', sans-serif;
    font-size: 14px;
    text-align: center;
  }
  p {
    font-family: 'montserratlight', sans-serif;
    font-size: 13px;
  }
  .classroom__one {
    background: url('../images/classroom__one.png');
    display: inline-block;
    height: 33px;
    transform: translateY(-3px);
    text-indent: -10000px;
    width: 27px;
  }
  .classroom__two {
    background: url('../images/classroom__two.png');
    display: inline-block;
    height: 33px;
    transform: translateY(-3px);
    text-indent: -10000px;
    width: 27px;
  }
  .classroom__three {
    background: url('../images/classroom__three.png');
    display: inline-block;
    height: 33px;
    transform: translateY(-3px);
    text-indent: -10000px;
    width: 26px;
  }
}
#contact {
  text-align: center;
  //overflow: hidden;
  position: relative;
  background: white;
  .inner {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 70px;
    @media (max-width: 480px) {
      display: block;
    }
  }
  .contact__col {
    padding: 0 30px;
    position: relative;
    text-align: left;
    width: 280px;
    @media (max-width: 480px) {
      margin: 0 auto;
      padding-left: 60px;
    }
    p {
      text-align: center;
      //text-align-last: left;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}
#footer {
  background: black;
  color: white;
  height: 45px;
  text-align: center;
  position: relative;
  .inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
  }
  .footer__logo {
    background-image: url('../images/footer__logo.png');
    height: 37px;
    text-indent: -10000px;
    width: 83px;
  }
  .footer__social {
    display: none;
    @media (max-width: 470px) {
      display: block;
    }
    &--facebook {
      background: url('../images/menu__facebook.png') no-repeat;
      display: inline-block;
      height: 23px;
      text-indent: -10000px;
      width: 23px;
    }
    &--instagram {
      background: url('../images/menu__instagram.png') no-repeat;
      display: inline-block;
      height: 23px;
      text-indent: -10000px;
      width: 23px;
    }
  }
  .footer__ae--wrapper {
    display: block;
    @media (max-width: 470px) {
      display: none;
    }
  }
  .footer__ae {
    background-image: url('../images/footer__ae--circle.png');
    height: 22px;
    text-indent: -10000px;
    width: 22px;
  }
}

#claim {
  h2 {
    font-size: 18.43px;
  }
  p {
    font-size: 15px;
  }
}
h2 {
  font-family: 'montserratbold', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}
p {
  font-family: 'montserratlight', sans-serif;
  font-size: 13px;
  //line-height: 1.2;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 0;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 1rem;
}
.fwl {
  font-family: 'montserratlight', sans-serif;
}
.fwr {
  font-family: 'montserratregular', sans-serif;
}
.fwsb {
  font-family: 'montserratsemibold', sans-serif;
}
.fwb {
  font-family: 'montserratbold', sans-serif;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs1518 {
  font-size: 15.18px;
}
.fs16 {
  font-size: 16px;
}
.fs1618 {
  font-size: 16.18px;
  font-size: 15.5px;
}
.fs17 {
  font-size: 17px;
}
.fs1784 {
  font-size: 17.84px;
}
.section__arrow--down {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translateX(-50%) translateY(-3.5vw);
  z-index: 9;
}
#map {
  overflow: hidden;
}
.map__inner {
  margin-top: -7vw;
}
#googlemap {
  position: relative;
  height: 600px;
  overflow: hidden;
  transform: skewY(4deg);
  margin-top: -7vw;
  //top: 7vw;
}

#addresses {
  .inner {
    align-items: flex-start;
    display: flex;
    @media (max-width: 590px) {
      display: block;
    }
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }
  .address {
    //display: inline-block;
    padding: 0 60px;
    position: relative;
    text-align: center;
    width: 280px;
    @media (max-width: 590px) {
      margin: 0 auto;
      &:nth-child(2) {
        margin-top: 40px;
      }
    }
    strong {
      font-family: 'montserratsemibold', sans-serif;
      font-weight: normal;
    }
    &::before {
      background: url('../images/addresses__shadow--left.png');
      content: " ";
      height: 181px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
    }
    &::after {
      background: url('../images/addresses__shadow--right.png');
      content: " ";
      height: 181px;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
    }
    p {
      text-align-last: center;
    }
  }
}

.important {
  font-family: 'montserratlight', sans-serif;
  font-weight: normal;
  line-height: 1.3rem;
  &--white {
    color: white;
  }
  span {
    text-transform: uppercase;
    font-family: 'montserratsemibold', sans-serif;
    font-size: 18.5px;
    line-height: 1.4rem;
  }
  span.lower {
    display: inline-block;
    margin-top: 4px;
    //transform: translateY(5px);
  }
}

.round {
  position: relative;
  text-align: center;
}

.round label {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 21px;
  left: 0;
  padding: 1px;
  position: absolute;
  top: 0;
  width: 21px;
  span {
    display: block;
    position: absolute;
    top: 1px;
    left: 28px;
    width: 400px;
    @media (max-width: 420px) {
      width: calc(100vw - 74px);
    }
  }
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #000;
  border-color: #000;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.contact__phones {
  position: relative;
  &::before {
    content: " ";
    display: block;
    background: url('../images/icon__phone.png') no-repeat;
    height: 17px;
    margin: 5px auto 7px;
    //position: absolute;
    width: 17px;
    //left: -40px;
    //top: 10px;
  }
}
.contact__times {
  position: relative;
  &::before {
    content: " ";
    display: block;
    background: url('../images/icon__hours.png') no-repeat;
    height: 19px;
    margin: 5px auto 7px;
    //position: absolute;
    width: 19px;
    //left: -40px;
    //top: 10px;
  }
}
.contact__mail {
  position: relative;
  a {
    font-family: 'montserratsemibold', sans-serif;
    font-weight: normal;
  }
  &::before {
    content: " ";
    display: block;
    background: url('../images/icon__mail.png') no-repeat;
    height: 14px;
    margin: 5px auto 7px;
    //position: absolute;
    width: 17px;
    //left: -40px;
    //top: 4px;
  }
}
.contact__address {
  //display: inline-block;
  //margin-top: 5px;
}

.safari-mac {
  .menu__menu {
    li {
      a {
        transform: translateY(-2px);
      }
    }
  }
}

.modal__wrapper {
  transition: all 0.3s;
  position: fixed;
  xdisplay: none;
  display: flex;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  //width: 100vw;
  //height: 100px;
  background: rgba(0,0,0,0.7);
  //display: flex;
  justify-content: center;
  align-items: center;

  &.modal__wrapper--active {
    opacity: 1;
    visibility: visible;
    xtransition: all 3s;
  }
  & > div {
    display: inline-block;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
  }
  img {

  }
  &.modal__wrapper--white {
    background: rgba(255,255,255,0.7);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../images/close.png');
    width: 20px;
    height: 20px;
  }
}
.modal__wrapper--formsent {
  .close {
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: none;
  }
}
.modal__wrapper--eninfo, .modal__wrapper--esinfo {
  & > div {
    background: rgb(255,204,51);
    max-width: 510px;
    padding: 30px;
    position: relative;
    width: 100%;
  }
  h2 {
    font-size: 28.42px;
    font-family: 'montserratbold', sans-serif;
    text-align: center;
    text-transform: none;
    margin-bottom: 0;
  }
  h3 {
    font-size: 12px;
    font-family: 'montserratbold', sans-serif;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 15px;
  }
  p {
    font-size: 12px;
    font-family: 'montserratlight', sans-serif;
    text-align: justify;
    text-align-last: left;
    margin-bottom: 0;
  }
}
.modal__wrapper--eninfo {
  //display: flex;
}

// switcher
.switcher {
  display: flex;
  height: 5rem;
  margin-bottom: 4rem;
  .switcher__item {
    align-items: center;
    color: white;
    cursor: pointer;
    background: black;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 162px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.switcher__item--left {
      border-radius: 1rem 0 0 1rem;
      &.switcher__item--active {
        background: url('../images/switcher__active--left.png') repeat-y right;
      }
    }
    &.switcher__item--right {
      border-radius: 0 1rem 1rem 0;
      &.switcher__item--active {
        background: url('../images/switcher__active--right.png') repeat-y left;
      }
    }
  }
  .switcher__item--active {
    background: yellow;
    color: black;
  }
}

// tabs
.tabs {
  position: relative;
  width: 100%;
  .tabs__tab {
    //display: none;
    //-webkit-transition: opacity 1s ease-in-out;
    //-moz-transition: opacity 1s ease-in-out;
    //-o-transition: opacity 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    &.tabs__tab--active {
      //display: block;
      opacity: 1;
    }
  }
  .tabs__secondtab {
    padding-top: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    h3 {
      background: none !important;
      font-size: 26px !important;
      text-transform: uppercase;
      margin-bottom: 1.8rem;
    }
    img {
      margin-bottom: 1.8rem;
    }
    p {
      font-size: 15.5px;
      @media (max-width: 630px) {
        br {
          display: none;
        }
      }
    }
    .mbg {
      margin-bottom: 5.7rem;
    }
    .mbp {
      margin-bottom: 2rem;
    }
  }
}

.recaptcha__text {
  text-align: left;
  opacity: 1;
  font-size: 0.6rem;
  transform: translateY(-16px);
  a {
    color: black;
    text-decoration: underline;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}


.tc {
  text-align: center;
}

.gallery {
  display: block;
  padding: 0 6px !important;
  margin-top: 55px !important;
  @media (max-width: 1100px) {
    margin-top: 45px !important;
  }
  @media (max-width: 800px) {
    margin-top: 35px !important;
  }
  @media (max-width: 600px) {
    margin-top: 30px !important;
  }
  a {
    width: 32%;
    @media (max-width: 630px) {
      width: 48%;
    }
    display: inline-block;
    .gallery__wrapper {
      display: inline-block;
      padding-bottom: 100%;
      height: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 100%;
      }
    }
  }
}